* {
    box-sizing: border-box;
    text-align: center;
    --mainColor: #5c4a46;
    --mainColorA: rgba(92, 74, 70, 0.7);
    --primaryFontColor: #ffffff;
    --secondaryFontColor: #333333;

}

body {
    color: var(--primaryFontColor);
    font-family: Arial, Helvetica, sans-serif;
}

header {
    min-height: 450px;
    padding: 5vh;

    background-image: url("https://static.pexels.com/photos/248515/pexels-photo-248515.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1, h2 {
    text-transform: capitalize;
}

h1 {
    margin-top: 10vh;
    font-size: 2em;
    font-weight: bold;
}

h2{
    font-size: 1.5em;
    font-weight: bold;

}

header p {
    margin: 4vh 0 5vh;
    text-transform: initial;
    color: var(--primaryFontColor);

}

p {
    font-size: 1.1em;
    color: var(--secondaryFontColor);
}

a {
    padding: 2vh;

    border: 2px solid #790279;
    border-radius: 7px;
    background-color: var(--mainColorA);

    font-weight: bold;
    text-decoration: none;
    color: rgb(182, 34, 182);
}

a:hover {
    background-color: rgba(188, 143, 143, 0.527);
    color: purple;
}

.dev {
    padding: 10vh;
    color: var(--secondaryFontColor);

}

.uniqueParagraf {
    padding: 5vh 10vw;

    column-count: 2;
    column-width: 20vw;
    column-gap: 10vw;
}

#cardSection {
    padding: 15vh 20vw;
    background-color: var(--mainColor);

    column-count: 3;
    column-gap: 12px;
}

#cardSection img{
    width: 17vw;
    padding-bottom: 5vh;
    background-size: cover;
}

.card {
    width: 17vw;
    font-size: 30px;
    text-align: center;
    background-color: white;
    color: #222222;
}

.card h2 {
    font-size: 1em;
    margin-bottom: 5vh;

}

.card p{
    font-size: 20px;
    padding: 4%;

}

.about {
    padding: 10vh 0;
    color: var(--secondaryFontColor);

}

.about h2, .contacts h2{
    padding-bottom: 5vh;
}

.contacts{
    display: flex;

}

.contacts div{
    padding: 5vh 0;
    flex-grow: 1;
    background-color: #1d10d3;
    color: white;
    text-align: center;
}



footer{
    padding: 5vh 0;

    column-count: 2;
    background-color: black;
    text-transform: capitalize;

}

footer div{
    text-align: center;
    padding: 0 15vw;
}

footer p{
    color: var(--primaryFontColor);
}